:root {
    --limegreen: hsl(163, 72%, 41%); //hue saturation and lightness
    --brightred: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram-start: hsl(37, 97%, 70%);
    --instagram-end: hsl(329, 70%, 58%);
    --youtube: hsl( 377, 96%, 38%);
    --toggle-bg-start: hsl(210, 77%, 56%);
    --toggle-bg-end: hsl(146, 67%, 54%);
    --toggle: hsl(230, 22%, 74%);

    --dark-bg: hsl(230, 17%, 14%);
    --dark-top-bg: hsl(231, 19%, 14%);
    --dark-card-bg: hsl(228, 27%, 19%);
    --dark-text1: hsl(228, 34%, 65%);
    --dark-text2: hsl(0, 0%, 100%);
    
    --light-bg: hsl(0, 0%, 100%);
    --light-top-bg: hsl(225, 100%, 98%);
    --light-card-bg: hsl(226, 47%, 96%);
    --light-text1: hsl(228, 12%, 43%);
    --ligth-text2: hsl(229, 17%, 14%);
}